@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:wght@500&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
  --typewriter-cursor-color: white;
  --typewriter-speed: 3s;
}

html{
  height: 100%;
}

body{
  /* Background gradient */
  background: #000000;
  background: -webkit-linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(46, 88, 98, 1) 35%, rgba(65, 125, 140, 1) 100%);
  background: -moz-linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(46, 88, 98, 1) 35%, rgba(65, 125, 140, 1) 100%);
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(46, 88, 98, 1) 35%, rgba(65, 125, 140, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#000000",
    endColorstr="#417D8C",
    GradientType=0
  );
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 100%;
}
  
h1{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 150px;
  margin-bottom: 0px;
}

p.subtitle{
  margin-top: 0px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

div.typewriter{
  margin-bottom: 100px;
}

button img{
  height: 20px;
  translate: -10px 3px;
}

button.first{
  all: unset;
  width: 15%;
  height: 5%;
  margin-bottom: 1%;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  border-radius: .7rem;
  font-size: 170%;
  background-color: #a5b7bf;
  cursor: pointer;
  transition: all .7s;
}

button.first:hover{
  background-color: #e4e9ec;
}

button.second{
  all: unset;
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
}

button.second::before{
  translate: 20px 25px;
  content: '';
  width: 0%;
  height: 3px;
  background-color: black;
  transition: all .7s;
  display: block;
}

button.second:hover::before{
  width: calc(100% - 20px);
}

/* phone rules */
@media only screen and (max-width: 600px) {
  h1{
    font-size: 550%;
  }
  p.subtitle{
    font-size: 100%;
  }
  button.first{
    width: 70%;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--typewriter-cursor-color); }
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--typewriter-cursor-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing var(--typewriter-speed) steps(40, end),
    blink-caret .75s step-end infinite;
}
